<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <p class="gallery-subtitle">EcoTotes у повсякденному житті</p>
    <ul class="gallery-list">
      <li class="gallery-item bag">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-d4.jpg,
              /img/gallery/gallery-d4-@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-t4.jpg,
              /img/gallery/gallery-t4-@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-m1.jpg,
              /img/gallery/gallery-m1-@2x.jpg 2x
            "
          />
          <img
            class="gallery-images"
            src="/img/gallery/gallery-d4.jpg"
            alt="Сумка"
            width="288"
            height="288"
          />
        </picture>
      </li>
      <li class="gallery-item man">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-d2.jpg,
              /img/gallery/gallery-d2-@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-t2.jpg,
              /img/gallery/gallery-t2-@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-m2.jpg,
              /img/gallery/gallery-m2-@2x.jpg 2x
            "
          />
          <img
            class="gallery-images"
            src="/img/gallery/gallery-d2.jpg"
            alt="Чоловік з сумкою в руках"
            width="288"
            height="288"
          />
        </picture>
      </li>
      <li class="gallery-item park">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-d3.jpg,
              /img/gallery/gallery-d3-@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-t3.jpg,
              /img/gallery/gallery-t3-@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-m3.jpg,
              /img/gallery/gallery-m3-@2x.jpg 2x
            "
          />
          <img
            class="gallery-images"
            src="/img/gallery/gallery-d3.jpg"
            alt="Жінка з сумкою в парку"
            width="288"
            height="288"
          />
        </picture>
      </li>
      <li class="gallery-item girl">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/gallery/gallery-d1.jpg,
              /img/gallery/gallery-d1-@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/gallery-t1.jpg,
              /img/gallery/gallery-t1-@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery/gallery-m4.jpg,
              /img/gallery/gallery-m4-@2x.jpg 2x
            "
          />
          <img
            class="gallery-images"
            src="/img/gallery/gallery-d1.jpg"
            alt="дівчина з сумкою в руках"
            width="288"
            height="288"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
