<section class="hero">
    <div class="container hero-container">
        <div class="hero-top">
            <h1 class="title-hero">EcoTote — Стиль, що не шкодить планеті.</h1>
            <div class="text-hero">
                <p class="p-hero">Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та відповідальність
                    разом
                    з EcoTote.</p>
                <a href="#assortment" class="buy-now-button">Купити зараз</a>
            </div>
        </div>
        <picture class="hero-picture">
            <source media="(min-width: 1440px)" srcset="/img/hero/hero-d.jpg 1x, /img/hero/hero-d-@2x.jpg 2x">
            <source media="(min-width: 768px)" srcset="/img/hero/hero-t.jpg 1x, /img/hero/hero-t-@2x.jpg 2x">
            <source media="(max-width: 767px)" srcset="/img/hero/hero-m.jpg 1x, /img/hero/hero-m-@2x.jpg 2x">
            <img src="/img/hero/hero-m.jpg" alt="beige and green bags" class="hero-image" width="288">
        </picture>
    </div>
</section>