.about-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0,0,0,0.4)),
    url(/img/about/about-m.jpg);
}
@media screen and (min-resolution: 2x) {
  .about-section {
    background-image: 
       linear-gradient(rgba(0,0,0,0.4)),
      url(/img/about/about-m-@2x.jpg);
  }
}

.about-title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;
}

.about-twotitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-family: 'Comfortaa', sans-serif;
}

.about-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .about-section {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 768px;
    background-image: linear-gradient(rgba(0,0,0,0.4)),
      url(/img/about/about-t.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .about-section {
      background-image:linear-gradient(rgba(0,0,0,0.4)),
        url(/img/about/about-t-@2x.jpg);
    }
  }

  .about-title {
    margin-bottom: 16px;
  }

  .about-twotitle {
    margin-bottom: 24px;
  }

  .about-text {
    max-width: 573px;
    font-size: 18px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440px) {
  .about-section {
    padding-top: 112px;
    padding-bottom: 94px;
    max-width: 1440px;
    background-image: linear-gradient (rgba(0,0,0,0.4)),
      url(/img/about/about-d.jpg);
  }

  @media screen and (min-resolution: 2x) {
    .about-section {
      background-image: linear-gradient(rgba(0,0,0,0.4)),
        url(/img/about/about-d-@2x.jpg);
    }
  }

  .about-twotitle {
    font-size: 56px;
    max-width: 629px;
    margin: 0 auto 24px;
  }
}