.advantages {
    padding-top: 32px;
    padding-bottom: 32px;
}

.advantages-subtitle {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #030A06;
    margin-bottom: 12px;
}

.advantages-title {
    margin-bottom: 20px;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #030A06;
}

.advantages-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #030A06;
}

.advantages-name {
    margin-bottom: 48px;
}



.advantages-image {
    margin-bottom: 8px;
    border-radius: 32px;
}

.advantages-item-title {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
    color: #030A06;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.advantages-item-text {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030A06;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/*  .advantages-item {
    max-width: 288px;
}
    */

@media (min-width: 768px) {
    .advantages {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .advantages-item-title {
        font-family: 'Comfortaa', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.4;
        color: #030A06;
        letter-spacing: 0.01em;
        margin-bottom: 8px;
    }

    .advantages-item-text {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #030A06;
    }



    .advantages-item {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        width: calc((100% - 24px) / 2);
    }

    .advantages-subtitle {
        margin-bottom: 16px;
    }

    .advantages-title {
        margin-bottom: 24px;
    }

    .advantages-text {
        margin-bottom: 32px;
        font-size: 18px;
    }

    .advantages-image {
        margin-bottom: 32px;
    }

    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
}

@media (min-width: 1440px) {
    .advantages {

        padding: 64px;
    }



    .advantages-item {
        width: calc((100% - 72px) / 3);
    }

    .advantages-name {
        width: 768px;
        margin-bottom: 80px;
    }



    .advantages-item-title {
        font-size: 32px;
        margin-bottom: 24px;
        height: 90px;
    }

    .advantages-title {
        font-size: 48px;
    }

    .advantages-list {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 32px;
    }

}