.container {
    width: 320px;
    padding: 32px 16px;
}

.advantages {
    background-color: #EBF8ED;
}

.advantages-subtitle {
    margin-bottom: 12px;
}

.advantages-title {
    margin-bottom: 20px;
}

.advantages-name {
    margin-bottom: 48px;
}

.advantages-image {
    border-radius: 32px;
    margin-bottom: 8px;
}

.advantages-item-title {
    margin-bottom: 4px;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 48px;
}

.advantages-item {
    max-width: 288px;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
        padding: 64px 32px;
    }

    .advantages-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 32px;
    }

    .advantages-item-title {
        margin-bottom: 8px;
    }



    .advantages-tablet {
        width: calc((100% - 24px) / 2);
    }

    .advantages-subtitle {
        margin-bottom: 16px;
    }

    .advantages-title {
        margin-bottom: 24px;
    }

    .advantages-name {
        margin-bottom: 32px;
    }

    .advantages-image {
        margin-bottom: 32px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1440px;
        padding: 64px;
    }

    .advantages-item {
        width: calc((100% - 72px) / 3);
    }

    .advantages-name {
        margin-bottom: 80px;
    }

    .advantages-item-title {
        margin-bottom: 24px;
    }
}