.assortment {
  padding: 32px 0 32px;
  background-color: #ebf8ed;
}
.assortment-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.assortment-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: center;
  text-align: center;
}
.assortment-item {
  max-width: 288px;
}
.assortment-image {
  border-radius: 32px;
  margin-bottom: 16px;
}
.assortment-product-info {
  margin-bottom: 16px;
}
.assortment-subtitle {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #030a06;
}
.assortment-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #030a06;
}
.assortment-price {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: #030a06;
  margin-top: 8px;
}
.assortment-button {
  font-family: 'Fira Sans', sans-serif;
  border: 1px solid #030a06;
  border-radius: 6px;
  padding-block: 8px;
  padding-inline: 20px;
  width: 288px;
  height: 40px;
  background-color: transparent;
}
.assortment-button:active {
  opacity: 0.6;
}
@media screen and (min-width: 768px) {
  .assortment {
    padding: 64px 0 64px;
  }
  .assortment-list {
    row-gap: 48px;
    column-gap: 24px;
  }
  .assortment-item {
    max-width: 340px;
    display: flex;
    flex-direction: column;
  }
  .assortment-button {
    width: 340px;
    margin-top: auto;
  }
}
@media screen and (min-width: 1440px) {
  .assortment-title {
    font-size: 48px;
  }
  .assortment-list {
    row-gap: 64px;
  }
  .assortment-item {
    max-width: 310px;
  }
  .assortment-button {
    width: 310px;
  }
}
