.feedbacks {
  padding: 32px 0;
}
.feedbacks-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
}
.feedbacks-item {
  width: 100%;
}
.feedbacks-item-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  text-align: left;
}
.feedbacks-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #030a06;
  margin-bottom: 32px;
}
.feedbacks-text {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #030a06;
}
.feedbacks-author {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
}
.stars {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  list-style: none;
}

.stars svg {
  fill: #3ac04c;
}

@media screen and (min-width: 768px) {
  .feedbacks {
    padding: 64px 0;
  }
  .feedbacks-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 24px;
  }
  .feedbacks-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1440px) {
  .feedbacks-title {
    font-size: 48px;
    max-width: 560px;
    text-align: center;
    margin: 0 auto 80px;
  }
  .feedbacks-list {
    gap: 24px;
  }
  .feedbacks-item {
    display: flex;
    width: calc((100% - 24px * 3) / 4);
  }

  .feedbacks-author {
    margin-top: auto;
  }
}
