/*Mobile*/

.gallery {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.container {
    width: 320px;
    margin: 0% auto;
    padding: 0 16px;
}

.gallery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030a06;
    text-align: center;
    margin-bottom: 32px;
}

.gallery-subtitle {
    font-family: Fira Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0%;
    text-align: center;
    color: #030A06;
    margin-bottom: 32px;
}

.gallery-list {
    font-family: Fira Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0%;
    text-align: center;
}

.gallery-list-item {
    margin-bottom: 16px;
}


/*Tablet*/

@media screen and (min-width: 768px) {

    .container {
        width: 768px;
    }

    .gallery-title title {
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;

    }

    .gallery-list-item bag {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px 24px 26px ;
        flex-basis: calc((100% - 24px) / 2);
    }

    .gallery-list-item man {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px 24px 26px ;
        flex-basis: calc((100% - 24px) /2);
    }

    .gallery-list-item park {
        display: flex;
        flex-direction: column;
        margin-bottom: 24px 24px 26px ;
        flex-basis: calc((100% - 24px) / 2);
    }

    .gallery-list-item girl {
        display: flex;
        flex-direction: column;
        margin-bottom:24px 24px 26px ;
        flex-basis: calc((100% - 24px) / 2);
    }
        
}




/*Desktop*/

@media screen and (min-width: 1440px) { 

 .container {
        width: 1440px;}
    

    .gallery-title title {
        font-size: 48px;
        margin-bottom: 64px;
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .gallery-list-item bag {
       display: flex;
       flex-direction: column;
       margin-bottom: 24px 24px 24px 24px;
    flex-basis: calc((100% - 24px) / 2);
   }

   .gallery-list-item man {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px 24px 24px 24px ;
    flex-basis: calc((100% - 24px) / 2);
}

.gallery-list-item park {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px 24px 24px 24px ;
    flex-basis: calc((100% - 24px) / 2);
}

.gallery-list-item girl {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px 24px 24px 24px ;
    flex-basis: calc((100% - 24px) / 2);
}
}

