.container.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebf8ed;
}

.title-hero {
  font-family: 'Comfortaa', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 64px;
}

.p-hero {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
  text-align: left;
  padding-bottom: 24px;
}

.hero-image {
  border-radius: 40px;
  width: 288px;
  height: 285px;
  padding-bottom: 64px;
  padding-top: 24px;
  background-color: #ebf8ed;
  overflow: hidden;
}

.buy-now-button {
  display: inline-block;
  background-color: #030a06;

  border: 1px solid #030a06;
  border-radius: 6px;
  padding: 12px 24px;
  width: 288px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  text-align: center;
}
.buy-now-button:hover,
.buy-now-button:focus {
  background: #030a06;
  opacity: 0.5;
}
.buy-now-button:active {
  background: #113916;
  opacity: 0.6;
}
.buy-now-button:disabled {
  background: #030a06;
  opacity: 0.2;
  pointer-events: none;
}
.hero-picture {
  background-color: #ebf8ed;
}

@media only screen and (min-width: 768px) {
  .container.hero-container {
    display: flex;
    flex-direction: column;
    padding: 32px 32px 64px 32px;
    gap: 20px;
  }
  .text-hero {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 340px;
  }

  .title-hero {
    width: 340px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
  }
  .hero-image {
    width: 704px;
    height: 267px;
    height: auto;
    border-radius: 40px;
    padding: 0;
  }
  .p-hero {
    padding-bottom: 0;
  }
  .buy-now-button {
    width: 148px;
    border: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .container.hero-container {
    padding: 32px 64px 64px 64px;
    display: flex;
  }
  .title-hero {
    width: 640px;
    font-size: 56px;
  }
  .text-hero {
    width: 640px;
  }
  .hero-image {
    width: 1312px;
    height: 498px;
  }
}
