.support{
    padding: 32px 0;
}

.container-support {
    display: flex;
    flex-direction: column;
}
.container-support::after {
    content: "";
    display: block;
    width: 100%;
    height: 428px;
    background-image: url("../img/support/support-m.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    border-radius: 40px;
    margin-top: 24px;
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .container-support::after {
        background-image: url("../img/support/support-m-@2x.jpg");
    }   
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container-support::after {
        background-image: url("../img/support/support-t.jpg ");
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) and (max-width: 1439px) {
    .container-support::after {
        background-image: url("../img/support/support-t-@2x.jpg");
    }
}
@media screen and (min-width: 1440px) {
    .container-support {
        position: relative;
    }
    .container-support::after {
        position: absolute;
        width: 644px;
        margin-top: 0;
        top: 0;
        right: 64px;
        height: 100%;
        background-image: url("../img/support/support-d.jpg");   
    }
}
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .container-support::after {
        background-image: url("../img/support/support-d-@2x.jpg");   
    }
}
.support-title {
    font-family: "comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: #030A06;
}
.support-text {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #030A06;
    margin-top: 24px;
}
.support-form {
    font-family: "Fira Sans", sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}
.support-label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    color: #030A06;
}
.support-input{
    margin-top: 8px;
    border: 1px solid rgba(3, 10, 6, 0.15);
    border-radius: 6px;
    padding: 12px;
    background-color: rgba(3, 10, 6, 0.05);
    font-weight: 400;
    font-size: 16px;
}
.support-input:focus, .support-input:hover {
    outline: none;
}
.support-input:not(:placeholder-shown):invalid {
  border-color: #d64040;
  color: #d64040;
}
.support-input:not(:placeholder-shown):valid {
  border-color: green;
}
.text-invalid {
  font-size: 12px;
  line-height: 1.6;
  display: none;
}
.text-invalid {
  color: #d64040;
}
.support-input:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}
.support-textarea {
    resize: none;
    height: 180px;
}
.support-button {
    font-family: "Fira Sans", sans-serif;
    border: 1px solid #030A06;
    background-color: #030A06;
    border-radius: 6px;
    padding: 12px 24px;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    
}

.support-button:hover, .support-button:focus {
    background-color: rgba(3, 10, 6, 0.5);
    border-color: rgba(3, 10, 6, 0.5);
}

.support-button:active {
    background-color: rgba(17, 57, 22, 0.6);
    border-color: rgba(17, 57, 22, 0.6);
}
.container-support:disabled {   
    background-color: rgba(3, 10, 6, 0.2);
    border-color: rgba(3, 10, 6, 0.2);
    cursor: not-allowed;
}

@media screen and (min-width: 768px) {
    .support{
        padding: 64px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .container-support {
        width: 644px;
    }
    .support-title {
        width: 100%; 
    }
    .support-button{
        width: 249px;
        margin: 0 0;
    }
}

@media screen and (min-width: 1440px) {
    .support{
        padding: 80px 0;
    }
    .container-support {
        display: block;
    }
    .support-title {
        font-size: 48px;
        width: 644px;
    }
    .support-button{
        width: 198px;
        margin: 0 0;
    }
    .support-input{
        width: 644px;
    }
}
